/DietaryRestrictions$DietaryRestriction.class
/DietaryRestrictions.class
/DisasterVictim.class
/FamilyRelation.class
/FamilyRelationManager.class
/IDateManageMent.class
/InfoManagement.class
/Inquirer.class
/Inquiry.class
/Location.class
/MedicalRecord.class
/Person.class
/ReliefService.class
/Supply.class
/SupplyManager.class
